.content{
    position: absolute;
    top:40px;
    bottom: 50px;
    overflow-y:auto; 
    width: 100%;
    background-color: #f5f5f5;
}
.content-pic{
    margin: .2rem 0;
    padding: .24rem .3rem;
    background: white;
    overflow: hidden;
}
.content-pic .pic{
    float: left;
    width:4.07rem;
    height: 2.83rem;
    background: url(../img/pic-1.jpg) no-repeat center center;
    background-size: 100% 100%;
    font-size:.24rem;
    color:white; 
}
.content-pic .pic-r{
    width: 2.62rem;
    float: right;
    background: none;
}
.content-pic .pic-r .pic-r-t{
    width: 100%;
    height: 1.32rem;
    background: url(../img/pic-2.jpg) no-repeat center center;
    background-size: 100% 100%;
    margin-bottom: .18rem;
}
.content-pic .pic-r .pic-r-b{
    width: 100%;
    height: 1.32rem;
    background: url(../img/pic-3.jpg) no-repeat center center;
    background-size: 100% 100%;
}

.section-box{
    width: 100%;
    padding: 15px 20px;
    height: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: white;
}
.section-box dl{
    width: 50%;
    border-radius: 4px;
}
.section-box .start{
    background: url("../img/start.png") no-repeat center right;
    background-size: 1.85rem 1rem;
}
.section-box .car{
    background: url("../img/car-1.png") no-repeat center right;
    background-size: 1.85rem 1rem;
}
.section-box dt{
    padding: .2rem 0 .1rem ;
    text-align: left;
    font-size: .22rem;
    font-weight: bold;
    color: #666;
}
.section-box dd{
    text-align: left;
    font-size: .14rem;
    color: #999;
}
.list-scroll{
    width: auto;
    overflow-x:auto;
    min-width: 100%;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background: white;
    padding-bottom: .15rem;
    margin: .2rem 0;
}
.list-scroll .scroll-item{
    min-width: 1.8rem;
    padding: 0 10px;
    text-align: center;
}
.scroll-item > img{
    width: .8rem;
}
.scroll-item > p{
    z-index: 1;
    font-size: .16rem;
}


